@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
}

.horizontal-slider {
  width: 98%;
  height: 25px;
}

.example-thumb {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.example-track {
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  background: #d3d3d3;
}

.example-track-0 {
  background: #d3d3d3; /* Inactive track */
}

.example-track-1 {
  background: #000000; /* Active track */
}
